th{
    border-bottom: 1px solid gray;
}
thead{
    background-color: aquamarine;
}
.edit,.delete{
    padding: 7px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edit{
    background-color: rgb(255, 167, 4);
}
.delete{
    background-color: red;
}