.article{
    border: 2px dashed gray;
    border-radius: 20px;
    width: 50%;
    padding: 10px;
    background-color: rgb(213, 201, 186);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:20px;
}
.article:hover{
    box-shadow: 0px 0px 10px 2px gray;
}

.main{
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    height: 550px;
    background-color: rgba(67, 67, 67, 0.496);
    padding: 20px 40px;
}
.body{
    background-image: url(https://html.sammy-codes.com/images/background.jpg);
    background-size: 100%;
    background-position: fixed;
    
}
.title{
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}
.text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 500;
}
a{
    text-decoration: none;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgba(137, 43, 226, 0.317);
    padding: 6px;
    border-radius: 5px;
}